---
import Scripts from '../../components/Scripts.astro';
import Layout from '../../layouts/Layout.astro';
import LoginBox from '../../components/Login.astro';
---

<Layout title="Login | BancaOnline">
	<main>
        <LoginBox
            title= "Please Log into your Account",

            username_text='Type in your Username',
            password_text='Type in your Password'
        />
	</main>
</Layout>