---
import Scripts from '../../components/Scripts.astro';
import Layout from '../../layouts/Layout.astro';
import LoginBox from '../../components/Login.astro';
---

<Layout title="Login | BancaOnline">
	<main>
        <LoginBox
            title= "Effettua il Login",

            username_text='Inserisci Username',
            password_text='Inserisci Password'
        />
	</main>
</Layout>